.swiper-slide {
  width: 1500px;
  height: 800px;
  background-position: center;
  background-size: cover;
  position: relative;
}

@media (max-width: 640px) {
  .swiper-slide {
    height: 500px;
  }
  .img-overlay {
    height: 500px;
  }
}

@media (max-width: 1536px) {
  .swiper-slide {
    width: 95%;
  }
  .img-overlay {
    width: 95%;
  }
}

@media (max-width: 640px) {
}

.swiper-slide Image {
  display: block;
  width: 100%;
  height: 100%;
}
