.button::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
  z-index: -1;
  position: absolute;
  right: 100%;
  transition: right 300ms ease-in-out;
}

.button {
  position: relative;
  overflow: hidden;
  border: 4px solid #03346e;
  z-index: 1;
}

.button:hover::before,
.button:focus::before {
  right: 0%;
}
